@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
  text-decoration:none;
}

html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}




section{
  padding:100px 0px 0px 0px;

}

.max-width{
  max-width:1100px;
  padding: 0 80px;
  margin:auto ;
}
.about, .services , .skills, .projects, .contact , footer{
  font-family:"Poppins", sans-serif;
}

.about , .about-content,
.skills, .skills-content,
.contact , .contact-content,
.services , .serv-content {
  display : flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

section .title{
  position: relative;
  text-align:center;
  font-size:40px;
  font-weight:450;
  margin-bottom: 60px;
  padding-bottom: 15px;
  font-family: "Ubuntu",sans-serif;
}

section .title::before{
  content:"";
  position:absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height : 3px;
  background : #111;
  transform: translateX(-50%);

}

section .title::after{
  position: absolute;
  bottom : -8px;
  left : 50%;
  background:#fff;
  color:purple;
  font-size: 20px;
  padding-top : 0px;
  padding-right: 5px;
  transform:translateX(-50%);
}

/* NavBar Gan */

.navbar{
  position: fixed;
  width : 15%;
  height: 100%;
  z-index: 999;
  padding : 30px 0;
  font-family: "Ubuntu",sans-serif;
  transition: all 0.3s ease;
}

.navbar.sticky{
  padding:15px 0px;
  background:none;
  opacity : 65%;
}
.navbar .max-heigth{
  display : flex;
  align-items:left;
  justify-content:space-between;

}

.navbar .max-width{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.navbar .logo a{
  color:#fff;
  font-size: 35px;
}

.navbar .logo a span{
  color:crimson;
  transition: all 0.6 ease;
}

.navbar .logo a :hover{
color:black;

}
.navbar .sticky .logo a span{
  color : #fff;
}


.navbar .menu li{
  display: table;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-top : 35px;
  margin-right: 10px;
  margin-left : 15px;
  transition:color 0.3 ease;
}
.navbar .menu .h1::before{
  font-family: "Font Awesome 5 Free";
  content:"\f015";
  font-weight: 900;
  margin-right : 15px;
}

.navbar .menu .ab::before{

  font-family: "Font Awesome 5 Free";
  content:"\f007";
  font-weight: 900;
  margin-right : 15px;
}

.navbar .menu .sv::before{

  font-family: "Font Awesome 5 Free";
  content:"\f02b";
  font-weight: 900;
  margin-right : 15px;

}
.navbar .menu .sks::before{

  font-family: "Font Awesome 5 Free";
  content:"\f1fb";
  font-weight: 900;
  margin-right : 15px;
}
.navbar .menu .prj::before{

  font-family: "Font Awesome 5 Free";
  content:"\f07b";
  font-weight: 900;
  margin-right : 15px;
}
.navbar .menu .cnt::before{

  font-family: "Font Awesome 5 Free";
  content:"\f004";
  font-weight: 900;
  margin-right : 15px;
}
.navbar .menu li a:hover{
  color:crimson;
  font-size: 30px;
  font-weight:bold;
  transition: 0.6s ease;

}

.navbar.sticky .menu li a:hover{
  color:crimson;
  opacity:1;
  font-size: 30px;
  font-weight:bold;
  transition: 0.6s ease;
}

/* Button Styling */

.menu-btn {

  color : #fff;
  font-size : 25px;
  opacity : 1;
  cursor:pointer;
}
.scroll-up-btn{
    position: fixed;
    background: crimson;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 1;
    pointer-events: none;
    transition: all 0.3s ease;
}


.scroll-up-btn.show{
    bottom: 30px;
    opacity: 50%;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(20%);
}

/* home section styling */
.home{
    display: flex;
    background: url("images/banner1.jpg") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}

.signature{
  position: absolute;
  left : 850px;
  bottom : 50px;
  align-items: center;
}
.tonyimages{
  height : 350px;
  width: : 150px;

}
.home .home-content .tonyimages:hover{
  height:450px;
  width:300px;
  transition: 0.3s ease;

}
.tony{

  position: absolute;
  left : 950px;
  bottom : 150px;
  align-items: center;
  animation: pulse ;
  animation-iteration-count: infinite;
  animation-duration: 5s;
 }

 @keyframes pulse {
   0% {
     transform: translateY(0);
   }

   5% {
     transform: translateY(-10px);
   }

   10% {
     transform: translateY(0);
   }

   15% {
     transform: translateY(-10px);
   }

   20% {
     transform: translateY(0);
   }

   25% {
     transform: translateY(-10px);
   }

   30% {
     transform: translateY(0);
   }

   35% {
     transform: translateY(-10px);
   }

   40% {
     transform: translateY(0);
   }
   45% {
     transform: translateY(-10px);
   }

   50% {
     transform: translateY(0);
   }

   55% {
     transform: translateY(-10px);
   }

   60% {
     transform: translateY(0);
   }

   65% {
     transform: translateY(-10px);
   }

   70% {
     transform: translateY(0);
   }

   75% {
     transform: translateY(-10px);
   }

   80% {
     transform: translateY(0);
   }

   85% {
     transform: translateY(-10px);
   }

   90% {
     transform: translateY(0);
   }

   95% {
     transform: translateY(-10px);
   }

   100% {
      transform: translateY(0);
   }



}

.home .max-width{
    margin: auto 0px auto 150px;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: purple;
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: Purple;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid purple;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: crimson;
    background: none;
}

/* about section styling */

.about {
  height : 100vh;
  color:white;
  background:url("images/banner3.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}
.about .about-content .column{
    float: left;
    width:100%;
}
.about .about-content .left{
  width:50%;

}
.about .title::after{
  content:"Gw Ganteng Titik";
}


.about .about-content .left img{
  height: 300px;
  width: 300px;
  object-fit:cover;
  border-radius: 6px;
}
.about .about-content .left img:hover{
  animation: pulse ;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-fill-mode: forwards;
 }

 @keyframes pulse {
   0% {
     transform: translateY(0);
   }

   5% {
     transform: translateY(-10px);
   }

   10% {
     transform: translateY(0);
   }

   15% {
     transform: translateY(-10px);
   }

   20% {
     transform: translateY(0);
   }

   25% {
     transform: translateY(-10px);
   }

   30% {
     transform: translateY(0);
   }

   35% {
     transform: translateY(-10px);
   }

   40% {
     transform: translateY(0);
   }
   45% {
     transform: translateY(-10px);
   }

   50% {
     transform: translateY(0);
   }

   55% {
     transform: translateY(-10px);
   }

   60% {
     transform: translateY(0);
   }

   65% {
     transform: translateY(-10px);
   }

   70% {
     transform: translateY(0);
   }

   75% {
     transform: translateY(-10px);
   }

   80% {
     transform: translateY(0);
   }

   85% {
     transform: translateY(-10px);
   }

   90% {
     transform: translateY(0);
   }

   95% {
     transform: translateY(-10px);
   }

   100% {
      transform: translateY(0);
   }



}

.about .about-content .right{
  width:50%;

}

.about .about-content .right .text{
    font-size : 15px;
    font-weight: 60;
    color:white;
    margin-bottom: 10px;

}

.about .about-content .right .text span{
    color: crimson;
}

.about .about-content .right p{
    color : white;
    text-align :left;
    left :5000px;
}


.about .about-content .right a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: crimson;
    font-size: 23px;
    background: none;
}
/* Services au */
.services{
    color:#fff;
    background: url("images/Banner4.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height:100vh;
}
.services .serv-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    margin-top:15px;
    cursor: pointer;
    transition: all 0.6s ;
}
.services .serv-content .card p{
    visibility:hidden;
}
.services .serv-content .card{
  height: 150px;

}
.services .serv-content .card:hover{
    background: crimson;
    height: 50vh;
}
.services .serv-content .card:hover p{
    visibility: visible;
}
.services .serv-content .card .box{
    transition: all 0.3s ease;
}
.services .serv-content .card:hover .box{
    transform: scale(1.05);
}
.services .serv-content .card i{
    font-size: 50px;
    color: crimson;
    transition: color 0.3s ease;
}
.services .serv-content .card:hover i{
    color: #fff;
}
.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
